add_newline = false
scan_timeout = 10

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"
vicmd_symbol = "[λ](bold yellow)"

# Directory shown briefly
[directory]
truncation_length = 30
truncate_to_repo  = true
style = "bold"

[git_branch]
symbol = " "
truncation_length = 20

[git_status]
disabled = true

# Disable expensive modules
[git_metrics]
disabled = true

[hostname]
disabled = true

[cmd_duration]
disabled = true

[nodejs]
disabled = true
[rust]
disabled = true
[python]
disabled = true
[golang]
disabled = true
[ruby]
disabled = true
[java]
disabled = true

[time]
disabled = true
